@import "../style/_variables.scss";

.monster-img {
    transition: 0.2s ease-in;

    &:hover {
        transform: scale(1.15);
    }
}

@media (max-width: 766px) {
.m-custom {
    margin-top: 3rem;
}
}