@import "../style/_variables.scss";

.profile-bg {
    background-image: url("../assets/bg-banner/bg7.png");
}

.userImg {
    transition: transform 0.12s ease-in-out,
        box-shadow 0.2s ease-in-out;
        
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 255, 100, 0.6);
    }

    &:active {
        transform: scale(0.95);
    }
}

.monster-username {
    color: map-get($theme-colors, "m-secondary");
    -webkit-text-stroke: 0.8px map-get($theme-colors, "m-dark-gray");
    font-family: 'Impact', 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(14, 41, 11, 0.5);
    display: inline-block;
    transition: transform 0.3s ease;

    &::after {
        content: "";
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 30px;
    }

    &:hover {
        transform: scale(1.15);
        text-shadow: 0 0 15px rgba(0, 255, 100, 0.6);
    }
}

.monster-email, .monster-password {
    color: map-get($theme-colors, "m-quaternary");
    -webkit-text-stroke: 0.5px map-get($theme-colors, "m-secondary");
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(14, 41, 11, 0.5);
    display: inline-block;
    transition: transform 0.3s ease;
    
    &::after {
        content: "";
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 30px;
    }
    
    &:hover {
        transform: scale(1.15);
        text-shadow: 0 0 15px rgba(0, 255, 100, 0.6);
    }
}

.delete-btn {
    background-color: rgb(191, 19, 19);
    color: white;
    border: 1px solid map-get($theme-colors, "m-dark-gray");
    transition: all 0.2s ease-in-out; 

    &:hover {
        background-color: red !important;
        color: white !important;
        border: 1px solid map-get($theme-colors, "m-dark-gray") !important;
        transform: scale(1.10);
        box-shadow: 0 0 15px rgb(144, 0, 0);
    }
}

.conferme-delete-btn {
    background-color: map-get($theme-colors, "m-danger");
    color: white;
    transition: 0.2s ease-in;
    border: 1px solid map-get($theme-colors, "m-danger") !important;
    
        &:hover {
            background-color: white !important;
            color: map-get($theme-colors, "m-danger") !important;
            border: 1px solid map-get($theme-colors, "m-danger") !important;
        }
}

.save-btn {
    background-color: map-get($theme-colors, "m-dark-gray");
    color: white;
    transition: 0.2s ease-in;
    border: 1px solid map-get($theme-colors, "m-tertiary") !important;
    
        &:hover {
            background-color: white !important;
            color: map-get($theme-colors, "m-tertiary") !important;
            border: 1px map-get($theme-colors, "m-tertiary") !important;
        }
}

.info-icon {
    color: map-get($theme-colors, "m-secondary");
    -webkit-text-stroke: 0.5px map-get($theme-colors, "m-dark-gray");
    text-align: center;
    box-shadow: 0 0 10px rgba(14, 41, 11, 0.5);
    transition: transform 0.2s ease;
    
    &:hover {
        transform: scale(1.15);
        box-shadow: 0 0 15px rgba(0, 255, 100, 0.6);
    }

    &:active {
        transform: scale(0.8);
    }

}


